* {
	padding:0;
	margin:0;
}

a {
	cursor:pointer;
}

body {
	background:#242424;
}

#main {
	min-width:100%;
}

#header {
	width:100%;
	height:40px;
	background:#202529;
}

#username {
	list-style:none;
	color:#fff;
	margin-left:180px;
}

#menu {
	list-style:none;
	color:#fff;
	margin-left:800px;
	position:absolute;
	width:500px;
}

#menu li {
	float:left;
	padding-right:10px;
	padding-left:10px;
	border-right:1px solid #14181B;
	border-left:1px solid #2D3337;
}

#menu li a {
	font-size:14px;
	font-family:"Times New Roman",Georgia,Serif;
	height:40px;
	line-height:40px;
	display:block;
}

.qiandao {
	background-color:#AB2406;
	width:50px;
	text-align:center;
	border-radius:4px;
	display:block;
	height:25px;
	line-height:25px;
	float:right;
	position:absolute;
	color:#fff;
	left:700px;
	top:8px;
	font-family:"Times New Roman",Georgia,Serif;
	font-size:14px;
	cursor:pointer;
}

#username li {
	float:left;
	padding:0 10px;
	border-left:1px solid #2D3337;
	border-right:1px solid #14181B;
}

.none {
	width:80px;
	height:40px;
	border-left:0 !important;
}

.last {
	height:40px;
	border-right:0 !important;
}

.message {
	border-right:0 !important;
}

.add {
	background-color:#FF6C00;
	width:80px;
	text-align:center;
	border-radius:4px;
	display:block;
	height:25px;
	line-height:25px;
	position:absolute;
	color:#fff;
	left:340px;
	top:8px;
	float:left;
	font-family:"Times New Roman",Georgia,Serif;
	font-size:14px;
	cursor:pointer;
}

.delete {
	border-left:0 !important;
}

.nn {
	padding-right:80px;
	border:0 !important;
}

.more {
	display:block;
	width:12px;
	height:9px;
	background:url(../images/menu.jpg) no-repeat;
	float:right;
	margin:16px 5px auto 3px;
}

#username li a {
	font-size:14px;
	font-family:"Times New Roman",Georgia,Serif;
	height:40px;
	line-height:40px;
	display:block;
}

.cell {
	margin-left:25px;
}

#middle {
	width:100%;
	height:550px;
	background:url(../images/body.jpg) no-repeat -100px 0;
}

#loginname {
	width:220px;
	height:37px;
	background:url(../images/loginname.png) no-repeat;
	margin-left:-5px;
}

#number {
	display:block;
	width:15px;
	height:15px;
	line-height:15px;
	background:red;
	position:relative;
	top:-35px;
	left:30px;
	border-radius:8px;
	font-family:"宋体",Georgia,Serif;
	text-align:center;
}

.txt {
	width:230px;
	height:45px;
	border-radius:5px;
	font-size:14px;
	padding-left:20px;
	color:gray;
}

.btn {
	background-color:#55B380;
	color:#fff;
	font-weight:bold;
	text-shadow:0 2px gray;
	border:0;
	text-align:center;
	width:253px;
	font-size:14px;
	padding-left:0;
	cursor:pointer;
}

#middle input {
	margin-top:10px;
}

#login {
	padding-top:130px;
	margin-left:950px;
	color:#fff;
	width:250px;
}

#login p ,#forget{
	color:#58BA85;
	font-family:"Times New Roman",Georgia,Serif;
	cursor:pointer;
}

#loginfoot {
	margin-top:8px;
	font-family:"Times New Roman",Georgia,Serif;
}

#auto {
	display:block;
	height:20px;
	float:left;
	position:relative;
	top:-10px;
	display:none;
}

.check{
	float:left;
	display:block;
	width:18px;
	height:19px;
	background:url(../images/checkbox.png);
	cursor:pointer;
}

.checked {
	float:left;
	display:block;
	width:18px;
	height:19px;
	background:url(../images/checked.png);
	cursor:pointer;
}
#ck {
	position:relative;
	color:#787878;
	
}

#forget {
	float:right;
	cursor:pointer;
}

#footer {
	width:100%;
	background:#fff;
}

#icon {
	height:110px;
	background:#E9EAEC;
}

#icon ul {
	width:972px;
	list-style:none;
	margin:0 auto;
}

#icon ul li {
	float:left;
	width:152px;
	height:82px;
	margin-right:10px;
	cursor:pointer;
}

.windows {
	background:url(../images/pt1.jpg) no-repeat 0 20px;
}

.android {
	background:url(../images/pt2.jpg) no-repeat 0 20px;
}

.iphone {
	background:url(../images/pt3.jpg) no-repeat 0 20px;
}

.ipad {
	background:url(../images/pt4.jpg) no-repeat 0 20px;
}

.wp {
	background:url(../images/pt5.jpg) no-repeat 0 20px;
}

.and {
	background:url(../images/pt6.jpg) no-repeat 0 20px;
}

#foot {
	height:62px;
	background:#242424;
}

#foot ul {
	width:500px;
	list-style:none;
	margin:0 auto;
}

#foot ul li {
	float:left;
	height:60px;
	line-height:60px;
	color:#999999;
	font-size:12px;
	margin-right:5px;
}

#foot ul li a {
	margin-right:5px;
	font-family:"Times New Roman",Georgia,Serif;
}

#foot span {
	width:1px;
	border-right:1px solid #999999;
}